<div class="mt-2 text-center">
<mat-card>
  <mat-card-header>
  <mat-card-title>Welcome to meanstack app</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <form #ng="ngForm" (ngSubmit)="login(ng)" >
  <mat-form-field>
  <input matInput type="email" required ngModel name="email" placeholder="Email">
  <mat-error>Username is required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
  <input matInput type="password" minlength="6" required ngModel name="password" placeholder="password">
  <mat-error>Password length should be atleast 6</mat-error>
  </mat-form-field>


  <div class="text-center">
  <button mat-raised-button type="submit">Submit</button>
  </div>
</form>
</mat-card-content>
</mat-card>
</div>
