#content{
  text-align: center;

}

html{
  height: 100%;
}

body{
  font-family: Lato;
  background: url(https://source.unsplash.com/3zdRN5B8MiM);
  background-position: center;
  background-size: cover;
}

h1,h3{
  color: white;
}

hr{
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 400px;
}

h1{
  font-weight: 700;
  font-size: 5em;
}

#PlaceOrder{
  margin-top: 10px;
}
